


{% extends "base.html" %}
{% block content %}



{% if session['logged_in'] %}
<form method='POST' action="/admin_user_health_search_update">
<div class="container  justify-content-center">
    <div class="table-responsive-xl">

    <table class="table table-striped bg-info">
        <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
      <th scope="col">Date</th>
      <th scope="col">BP Systolic</th>
      <th scope="col">BP Diastolic</th>
      <th scope="col">Heartbeat</th>
      <th scope="col">Height(cm)</th>
      <th scope="col">Weight(kg)</th>
      <th scope="col">Medicines Allergic To</th>
      
    </tr>
        </thead>
        <tbody>
   {% for x in hrecords %}
    
      
      
      {% for y in x.hrecords %}
      <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ x.user}}</td>
      <td>{{ y.date }}</td>
      <td>{{ y.bpsys }}</td>
      <td>{{ y.bpdia }}</td>
      <td>{{ y.heartbeat }}</td>
      <td>{{ y.height }}</td>
      <td>{{ y.weight }}</td>
      <td>{{ y.allergym }}</td>
      <td>  <input type="checkbox" name="rowcheck"  value={{ y.user_id }}>
      </td>
      
      
     
    </tr>
     {% endfor %}
    {% endfor %}
        </tbody>
     </table>
     
     <input type="submit" action="submit" value="Generate Report" name ="gen_report"> 
    </div>
  

</form>



{% endif %}

{% endblock %}