{% extends "base.html" %}
{% block content %}

<form action="/bookapt/doctorname" method="POST">
 <div class="container  justify-content-center">
<div class="row ">
<div class="col-sm-8">
<div class="card border-info bg-transparent">
 <div class="card-header text-center">
    <h5>
      Book an Appointment
  </h5>
 </div>
<div class="card-body">
    <div class="container">
        <div class="row">
            <div class='col-sm-8'>
                <div class="form-group">
                    <div class='input-group' id="iddoctor2">
                                <select name="aptdoc" class="form-control bg-info" id="iddoctor3">
                                {% for x in docs %}
                                <option  value="{{ x.username }}" SELECTED>{{ x.username }}</option>
                                {% endfor %}
                                </select>
                                <span class="input-group-addon mt-2">
                                 <span class="fa fa-user-md"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class='col-sm-8'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control bg-info" name="aptdate" type="string" id="iddate"/>
                        <span class="input-group-addon mt-2">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker3').datetimepicker({
                        format: 'L',
                        // closeOnDateSelect: true,]
                        useCurrent:true,
                        icons: {
                            time: 'fa fa-clock-o',
                            date: 'fa fa-calendar',
                            up: 'fa fa-plus',
                            down: 'fa fa-minus',
                            next: 'fa fa-chevron-right',
                            previous: 'fa fa-chevron-left'
                        },
                    });
                });

                // $('#datetimepicker3').data('DateTimePicker').disabledDates(datelist);
                // $('#datetimepicker3').data('DateTimePicker').daysOfWeekDisabled(daylist);
            </script>
     
        </div>
    </div>
        <div class="container">
        <div class="row">
            <div class='col-sm-8'>
                <div class="form-group">
                    <div class='input-group' id="idslot2">
                                <select name="aptslot" class="form-control bg-info" id="idslot">
                                {% for x in slots %}
                                <option value="{{ x }}" SELECTED>{{ x }}</option>
                                {% endfor %}
                                </select>
                                <span class="input-group-addon mt-2">
                                 <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class='col-sm-8'>
                <div class="form-group">
                    <div class='input-group date' id='s4'>
                        <input type='submit' class="form-control bg-info" name="aptsubmit" />
                        <span class="input-group-addon mt-2">
                                <span class="fa fa-square-o "></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <script type="text/javascript">
    $(function() {
       
        // jQuery selection for the 2 select boxes
        var dropdownS = {
          
            slot: $('#idslot'),
            date1: $('#iddate'),
            doctor: $('#iddoctor3')
            
        };
        var dropdownD = {
          
            date1: $('#iddate'),
            doctor: $('#iddoctor3')
            
        };

        
        updateDate();
        // updateSlots();

        
        function updateSlots() {
            var send = {
                doctor: dropdownS.doctor.val(),
                date1: dropdownS.date1.val()
            };
          
            dropdownS.slot.attr('disabled', 'disabled');
            dropdownS.slot.empty();
            $.getJSON("{{ url_for('_get_slots') }}", send, function(data) {
                // alert(data)
                data.forEach(function(item) {
                 dropdownS.slot.append(
                        $('<option>', {
                            value: item,
                            text: item
                        })
                    );
                   
                });
                dropdownS.slot.removeAttr('disabled');
            });
        }
        function updateDate() {
            var send = {
                doctor: dropdownD.doctor.val()
            };
           
            $.getJSON("{{ url_for('_get_dates') }}", send, function(data) {
                var list =[];
                var dlist = [];
                $.each( data, function( i, field ) {
              
                     $.each( field, function( key, val ) {
                              if(key == "dates"){
                                 list = val; 
                              }
                              if(key == "days"){
                                dlist = val;
                              }
                     }); 
                       
                   
                });
            
                $('#datetimepicker3').data('DateTimePicker').disabledDates(list);
                $('#datetimepicker3').data('DateTimePicker').daysOfWeekDisabled(dlist);
                // $('#datetimepicker3').data('DateTimePicker').defaultDate();
            });
        }

        // event listener to doctor dropdown change
       $('#iddoctor3').on('change', function() {
            updateDate();
            $('#datetimepicker3').trigger("dp.change");
            // updateSlots();

        });
       $('#datetimepicker3').datetimepicker().on("dp.change", function(ev){
            // alert("slot update")
            updateSlots();
            // $('#iddate').change();
        });
       
       // $('#iddate').on('change', function() {
       //      updateSlots();
       //  });
    });
   
</script> 
</div>
</div>
</div>
</div>
</div>     
</form>


{% endblock %}

 