


{% extends "base.html" %}
{% block content %}

{% if session['logged_in'] %}
<div class="container bg-info">
    <div class="row">
    <div class='col-sm-12'>
<div id='calendar'></div>
</div>
</div>
 <script type="text/javascript">

	 var eventsl = {{ eventlist|tojson }};
	 var minT = {{ mintime|tojson }};
	 var maxT = {{ maxtime|tojson }};
	
	 // var minT = "08:00:00"
	 // var maxT = "08:45:00"
	$(function() {
		  $('#calendar').fullCalendar({
		    defaultView: 'agendaDay',
		    header: {
		      // left: 'prev,next today',
		      left: 'today',
		      center: 'title',
		      right: 'agendaWeek,agendaDay'
		    },
		    views: {
			    agendaDay: { // name of view
			      minTime: minT,
			      maxTime: maxT,
			      slotDuration: "00:15:00",
			      slotLabelInterval:"00:15",
			      allDaySlot: false,
			      displayEventTime : false,

			    },
			    agendaWeek: { // name of view
			      minTime: minT,
			      maxTime: maxT,
			      slotDuration: "00:15:00",
			      slotLabelInterval:"00:15",
			      allDaySlot: false,
			      displayEventTime : false,
			    }

		    },
		    events: eventsl,
		 
		    
		  })
	});
</script>

{% endif %}

{% endblock %}