{% extends "base.html" %}
{% block content %}
   

<div class="container  justify-content-center">
   {% for x in doctors %}	
<div class="row ">
<div class="col-sm-8">
<div class="card border-info bg-info">
  <div class="card-body">
    <h5 class="card-title">{{ x.username }}</h5>
    <h5 class="card-subtitle mb-2 ">{{ x.hospital }}</h5>
    <h5 class="card-text mb-2">Email: {{ x.email }} </h5>
    <h5 class="card-text mb-2">Visiting Hours: {{ x.day_avail_s }}, {{ x.starttime }}-{{ x.endtime }}</h5>
   	{% if session['logged_in'] %}
    <a href="{{ url_for('bookapt', doctorname=x.username) }}" class="card-link ">Book Appointment</a> 
    {% endif %}
   
  </div>
</div>
</div>
</div>
<br>
{% endfor %}
</div>



{% endblock %}