{% extends "base.html" %}

{% block content %}
   
   
  <ul class="nav justify-content-center fixed-bottom itws-bottom-margin">

         <li class="nav-item">
             <button class=" btn-default nav-link btn-margin-right"><i class="fa fa-stethoscope"></i>  Find a Doctor</button> 
          </li>
          <li class="nav-item">   
           <button class=" btn-default nav-link btn-margin-left"><i class="fa fa-calendar"></i>  Book an Appointment </button> 
        </li>
       </div>
      
  	   
  </ul>

{% endblock %}
