


{% extends "base.html" %}
{% block content %}

  <a class="nav-link" href="{{ url_for('calendar') }}">Calendar</a>
        

{% if session['logged_in'] %}
   
 <ul class="nav justify-content-center fixed-bottom itws-bottom-margin">

         <li class="nav-item">
             <button  class=" btn-default nav-link" onclick="fdoctor()"><i class="fa fa-stethoscope"></i> Find a Doctor</button>   
          </li>
          <li class="nav-item">   
           <button class=" btn-default nav-link btn-margin-left" onclick="bapt()"  ><i class="fa fa-calendar"></i>  Book an Appointment </button> 
        </li>
       
  

         <li class="nav-item">
             <button  class=" btn-default nav-link btn-margin-left" onclick="applyreimb()">Apply for Reimbursement</button>   
          </li>
          <li class="nav-item">   
           <button class=" btn-default nav-link btn-margin-left" onclick="checkreimb()"  >Check Reimbursement Status </button> 
        </li>
       
      
       
  </ul>


  


{% else %}


<ul class="nav justify-content-center fixed-bottom itws-bottom-margin">

         <li class="nav-item">
             <button  class=" btn-default nav-link btn-margin-right" onclick="fdoctor()"><i class="fa fa-stethoscope"></i>  Find a Doctor</button>   
          </li>
         
       
  </ul>


{% endif %}

<script>
  function bapt() {
          window.location.href = '{{ url_for('bookapt') }}'
  }
  function fdoctor() {
         window.location.href = '{{ url_for('finddoctor') }}'
  }
  function applyreimb() {
          window.location.href = '{{ url_for('reimbursemtform') }}'
  }
  function checkreimb() {
         window.location.href = '{{ url_for('checkreimbursemntstatus') }}'
  }
</script>
{% endblock %}