{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<br>
<div class="container">
    <div class="row">
    <div class='col-sm-4'>
         <h2>Login</h2>
     </div>
    </div>
</div>
<form action="/login" method="POST">
	<div class="container">
        <div class="row">
            <div class='col-sm-4'>
                <div class="form-group">
                    <div class='input-group date' id='s4'>
                        <input type="username" name="username" placeholder="Username" class="form-control"/>
                    </div>
                </div>
            </div>
          </div>
    </div>

  <div class="container">
     <div class="row">
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date' id='s4'>
                    <input type="password" name="password" placeholder="Password" class="form-control"/>
                </div>
            </div>
        </div>
     </div>
  </div>
  
<div class="container">
    <div class="row">
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date' id='s4'>
                    <input type='submit' class="form-control" name="aptsubmit" value="Login" />
                </div>
            </div>
        </div>
    </div>
</div>
</form>

{% if error %}
<p><strong>{{ error }}</strong></p>
{% endif %}
<div class="container">
    <div class="row">
    <div class='col-sm-4'>
   
    <h4><a href="{{ url_for('register') }}">Click here to register </a> </h4>
     <h4><a href="{{ url_for('register_doctor') }}">Click here to register as a doctor </a> </h4>
     </div>
    </div>
</div>


{% endif %}
{% endblock %}