{% extends "base.html" %}
{% block content %}
{% if (session['logged_in']) and (session['usertype'] != 2) %}
  <p>Oh no Dont show page</p>

{% else %}
<br>
<h2>Register</h2>
<form action="/register/" method="POST">
  <input type="username" name="username" placeholder="Username">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Register">
</form>
{% if error %}
<p><strong>{{ error }}</strong></p>
{% endif %}
{% endif %}
{% endblock %}