{% extends "base.html" %}
{% block content %}
{% if (session['logged_in']) and (session['usertype'] != 2) %}
  <p>Oh no Dont show page</p>

{% else %}
<br>
<div class="container">
    <div class="row">
    <div class='col-sm-4'>
         <h2>Register</h2>
     </div>
    </div>
</div>
<form action="/register/" method="POST">
	<div class="container">
        <div class="row">
            <div class='col-sm-4'>
                <div class="form-group">
                    <div class='input-group date' id='s4'>
                        <input type="username" name="username" placeholder="Username" class="form-control"/>
                    </div>
                </div>
            </div>
          </div>
    </div>

  <div class="container">
     <div class="row">
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date' id='s4'>
                    <input type="password" name="password" placeholder="Password" class="form-control"/>
                </div>
            </div>
        </div>
     </div>
  </div>
  <div class="container">
     <div class="row">
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group email' id='s4'>
                    <input type="email" name="email" placeholder="email" class="form-control"/>
                </div>
            </div>
        </div>
     </div>
  </div>
  
<div class="container">
    <div class="row">
        <div class='col-sm-4'>
            <div class="form-group">
                <div class='input-group date' id='s4'>
                    <input type='submit' class="form-control" name="aptsubmit" value="Register" />
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% if error %}
<p><strong>{{ error }}</strong></p>
{% endif %}
{% endif %}
{% endblock %}
