{% extends "base.html" %}
{% block content %}
   

<form action="/reimbursemtform" method="POST" class="ml-20" enctype = "multipart/form-data">
<div class="container  justify-content-center">
<div class="row ">
<div class="col-sm-8">
<div class="card border-info bg-transparent">
 <div class="card-header text-center">
  <h5>
  {% if dbinfo %}
    Your reimbursement will be credited to following bank account. 
  {% else %}
    Please provide your bank details 
  {% endif %}
</h5>

</div>

  <div class="card-body">
 
    <div class="form-group ">
           <label for="idbname">Bank Name:</label>
           <input type='text' class="form-control bg-info" name="bname" value="{{ dbinfo.bankname }}"" type="string" id="idbname"/>
     </div>
     <div class="form-group">
           <label for="idbifsc">Bank IFSC:</label>
           <input type='text' class="form-control bg-info" name="bifsc" value="{{ dbinfo.ifsc }}" type="string" id="idbifsc"/>
    </div>
    <div class="form-group">
           <label for="idbactname">Bank Account Holder Name:</label>
          <input type='text' class="form-control bg-info" name="bactname" value="{{ dbinfo.acctname}}" type="string" id="idbactname"/>
    </div>
    <div class="form-group">
           <label for="idbactnum">Bank Account Number:</label>
           <input type='text' class="form-control bg-info" name="bactnum" value="{{ dbinfo.acctnum }}" type="string" id="idbactnum"/>
    
    </div>
  </div>
</div>
</div>
</div>
<br>

<div class="row ">
<div class="col-sm-8">
<div class="card border-info bg-transparent ">
 <div class="card-header text-center">
  <h5>
    Please provide your Receipt details
  </h5>
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title"></h5> -->
      <div class="form-group">
           <label for="idbrno">Bill Receipt/Cash Memo number:</label>
           <input type='text' class="form-control bg-info" name="brno" type="string" id="idbrno"/>
     </div>

  
        <div class="form-group">
         <label for="datetimepicker3">Bill Date:</label>

            <div class='input-group date' id='datetimepicker3'>
                <input type='text' class="form-control bg-info" name="brsdate" type="string" id="iddate"/>
                <span class="input-group-addon mt-2">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker3').datetimepicker({
                format: 'L',
                // closeOnDateSelect: true,]
                useCurrent:true,
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-plus',
                    down: 'fa fa-minus',
                    next: 'fa fa-chevron-right',
                    previous: 'fa fa-chevron-left'
                },
            });
        });

        // $('#datetimepicker3').data('DateTimePicker').disabledDates(datelist);
        // $('#datetimepicker3').data('DateTimePicker').daysOfWeekDisabled(daylist);
    </script>
     
   
    <div class="form-group">
           <label for="idbamt">Amount:<i class="fa fa-inr"></i></label>
          <input type='number' min ="0" step="0.01" class="form-control bg-info" name="bramt" type="string" id="idbamt"  pattern="^\d+(?:\.\d{1,2})?$")/>
          
    </div>

   <!--  <div class="custom-file form-group">
      <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">upload scanned copy of bill</label>
     </div> -->
    <div class="form-group">
           <label for="idfile">Select file name of scanned copy of the bill:</label>
          <input type = "file" name = "file" id="idfile" />
          
    </div>
     
  </div>
</div>
</div>
</div>

<br>
<div class="row ">
<div class="col-sm-8">
  <div class="form-group ">
          <input type='submit' class="form-control bg-info" name="reimbsubmit" value="Submit" />
  </div>
</div>
</div>

</div>
</form>

{% endblock %}

 